*.sql
*.csv
*.sqllite
/boilerplate/data/
/boilerplate/logs/
/boilerplate/redis/
.idea
/www/*
!/www/wp-content/
/www/wp-content/*
!/www/wp-content/themes/
/www/wp-content/uploads/*
/www/wp-content/upgrade/*
/www/wp-content/updraft/*
